<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 6</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link href={{ url_for('static', filename='css/base.css') }} rel="stylesheet">
    <script type="text/javascript" src={{ url_for('static', filename='js/base.js') }}></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel=stylesheet href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Project 6</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if activePage == 'index' %}active{% endif %}">
            <a class="nav-link" href="/">Insert</a>
          </li>
          <li class="nav-item {% if activePage == 'update' %}active{% endif %}">
            <a class="nav-link" href="/update">Update</a>
          </li>
          <li class="nav-item {% if activePage == 'delete' %}active{% endif %}">
            <a class="nav-link" href="/delete">Delete</a>
          </li>
          <li class="nav-item {% if activePage == 'interesting' %}active{% endif %}">
            <a class="nav-link" href="/interesting">Interesting</a>
          </li>
        </ul>
      </div>
    </nav>
    {% block body %}{% endblock %}
{#    <label for="table-select">Please select a table:</label>#}
{#    <select id="table-select">#}
{#        <option value="Player">Player</option>#}
{#        <option value="Stats">Stats</option>#}
{#        <option value="Receiving">Receiving</option>#}
{#        <option value="Defensive">Defensive</option>#}
{#        <option value="Rushing">Rushing</option>#}
{#        <option value="Passing">Passing</option>#}
{#        <option value="FieldGoalKicking">FieldGoalKicking</option>#}
{#    </select>#}
{#    <br>#}
{#    <label for="operation-select">Please select an operation:</label>#}
{#    <select id="operation-select">#}
{#        <option value="add">Add</option>#}
{#        <option value="edit">Edit</option>#}
{#        <option value="delete">Delete</option>#}
{#        <option value="view">View</option>#}
{#    </select>#}
{#    <br>#}
{#    <label for="dbFields" id="table-name">Player</label>#}
{#    <div id="dbFields">#}
{#        <label for="name">name: </label>#}
{#        <input id="name" type="text"/>#}
{#        <br>#}
{#        <label for="currentStatus">currentStatus: </label>#}
{#        <input id="currentStatus" type="text" />#}
{#        <br>#}
{#    </div>#}
{#    <div class="results">#}
{#        <p>#}
{##}
{#        </p>#}
{#    </div>#}
</body>
<footer>
    <div class="text-center">
        <h4>To view the other pages:</h4>
        {% if activePage != 'index' %}<a role="button" href='/' class="btn btn-success btn-lg">Insert</a>{% endif %}
        {% if activePage != 'update' %}<a role="button" href='/update' class="btn btn-primary btn-lg">Update</a>{% endif %}
        {% if activePage != 'delete' %}<a role="button" href='/delete' class="btn btn-danger btn-lg">Delete</a>{% endif %}
        {% if activePage != 'interesting' %}<a role="button" href='/interesting' class="btn btn-dark btn-lg">Interesting</a>{% endif %}
    </div>
</footer>
</html>