{% extends "base.html" %}
{% block body %}
    <h2>Update</h2>
    <h5 id="nameHelp" class="form-text text-muted">Click on a row to edit Rushing Stats.</h5>
    <div class="row">
        <div class="col col-7">
            <table id="Player" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <caption>Player Rushing Stats</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Current Status</th>
                    <th>Team</th>
                    <th>Year</th>
                    <th>Rushing Yards</th>
                    <th>Rushing Touchdowns</th>
                    <th>Fumbles</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Current Status</th>
                    <th>Team</th>
                    <th>Year</th>
                    <th>Rushing Yards</th>
                    <th>Rushing Touchdowns</th>
                    <th>Fumbles</th>
                </tr>
                </tfoot>
                <tbody>
                {% for row in data %}
                    <tr role="button" data-toggle="modal" data-target="#editModal"
                        data-id="{{ row[0] }}" data-name="{{ row[1] }}" data-currentStatus="{{ row[2] }}"
                        data-team="{{ row[3] }}" data-year="{{ row[4] }}"
                        data-rushingYards="{{ row[5] }}" data-rushingTDs="{{ row[6] }}" data-fumbles="{{ row[7] }}">
                        {% for field in row %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col align-self-center">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h4 class="alert-heading">
                            Error(s) occurred!
                        </h4>
                        <div>
                            {% for msg in errors %}
                                {% for key in msg %}
                                    {{ key }}:
                                    <ul>
                                        {% for val in msg[key] %}
                                            <li>{{ val }}</li>
                                        {% endfor %}
                                    </ul>
                                    <hr>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endwith %}
            {% with successes = get_flashed_messages(category_filter=["success"]) %}
                {% if successes %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <h4 class="alert-heading">
                            Success!
                        </h4>
                        {% for msg in successes %}
                            <div>
                                {{ msg }}
                            </div>
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editLabel">Edit Rushing Stats</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="updatePlayerForm" action="/update_player" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <input type="hidden" name="id" id="id" />
                                <label for="name"><strong>Name: </strong></label>
                                <input type="text" class="form-control" id="name1" disabled>
                                <input type="hidden" name="name" id="name" />
                                <label for="currentStatus"><strong>Current Status: </strong></label>
                                <input type="text" class="form-control" id="currentStatus1" disabled>
                                <input type="hidden" name="currentStatus" id="currentStatus" />
                                <label for="team"><strong>Team: </strong></label>
                                <input type="text" class="form-control" id="team1" disabled>
                                <input type="hidden" name="team" id="team" />
                                <label for="year"><strong>Year: </strong></label>
                                <input type="number" class="form-control" id="year1" disabled>
                                <input type="hidden" name="year" id="year" />
                            </div>
                            <div class="col">
                                <label for="rushingYards"><strong>Rushing Yards: </strong></label>
                                <input type="number" class="form-control" id="rushingYards" name="rushingYards"
                                       min="-500" max="4000" required>
                                <label for="rushingTDs"><strong>Rushing Touchdowns: </strong></label>
                                <input type="number" class="form-control" id="rushingTDs" name="rushingTDs" min="0"
                                       max="4000" required>
                                <label for="fumbles"><strong>Fumbles: </strong></label>
                                <input type="number" class="form-control" id="fumbles" name="fumbles" min="0"
                                       max="100" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}